<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Bookmark</title>
</head>
<body>
   <form action="/add_bookmark" method="post">
   
   <input type="text" name="add_bookmark">
   <input type="submit" value="Add">
   </form> 
</body>
</html>